<!DOCTYPE html>
<html lang="en">
<head>

<meta charset="UTF-8">

<script src="{{ url_for('static', filename='js/plotly-latest.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/d3.v6.min.js') }}"></script>
    <title>My Webpage</title>

</head>
<body>
    <label for="teams">Choose a team:</label>

    <select name="sm_teams" id="teams" multiple>
    
      
    </select> 
    
    <label for="players">Choose a player:</label>
    
    <select name="sm_players" id="players" multiple onchange="getplayers()">
    
      
    </select> 
    <label for="sm_seasons">Choose a season:</label>
    
<select name="seasons" id="seasons" multiple onchange="getseasons()">
    
      
    </select> 
    <label for="sm_stats">Choose stats:</label>
    <select name="stats" id="stats" multiple onchange="getstats()">
    
      
    </select> 

    <button type="button" onclick="doreload()">Make Graph</button> 
    <div id="myDiv"></div>      
  
    

    <script src="{{ url_for('static', filename='js/make_graph2.js') }}" onload="thisload()"></script>
    <title>My Webpage</title>

</body>
</html>